.item {
  padding: 1rem 0;
}

.item h2 {
  font-weight: 500;
}

.item .itemRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .item {
    padding: 1rem 1rem;
  }
}
