.cart {
  border: 1px solid #000;
  position: fixed;
  top: 100px;
  right: 5%;
  width: 350px;
  max-height: 350px;
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.cartItems {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.cartActions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media only screen and (max-width: 758px) {
  .cart {
    top: 70px;
    left: 0;
    width: 100vw;
    max-height: calc(100% - 70px);
    height: 100%;
    border: none;
  }
}
